// Specific CSS for your home-page
.fa-telegram {
  color: blue;
  margin-right: 5px;
}

#modalbutton {
  margin-top: 50px;
  margin-bottom: 10px;
}

#tweetsContainer {
  background-color: #d6f0ff;
}

.fa-bug {
  color: #961919;
}

#covidContainer {
  border: 1px solid #961919;
  border-radius: 5px;
}

#tweetsContainer {
  margin-top: 50px;
}
